---
const { date, title, description, url } = Astro.props;
---

<article>
	<a class="blog-link" href={url}>
		<svg
			width="59"
			height="59"
			viewBox="0 0 59 59"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			class="red"
		>
			<path
				d="M44.9555 35.8104C45.7603 37.0554 45.6673 37.9134 44.4334 38.5933C43.0428 39.3025 41.6135 39.9332 40.1523 40.4825C39.7343 40.6549 39.4289 40.7873 39.2709 41.2974C39.1705 41.6215 38.7068 41.8696 38.3579 42.0664C38.1553 42.1807 37.8575 42.1263 37.5607 42.2919C37.9488 42.4361 38.3285 42.6018 38.6981 42.7883C39.7288 43.2999 40.7153 43.8961 41.6474 44.5707C41.9583 44.7693 42.2143 45.0428 42.3919 45.3661C42.5695 45.6895 42.6629 46.0523 42.6637 46.4212C42.6645 46.79 42.5726 47.1532 42.3964 47.4773C42.2202 47.8014 41.9653 48.076 41.6553 48.2759C40.9088 48.8815 40.064 49.3547 39.1577 49.675C35.5083 51.1284 31.4423 51.1366 27.7871 49.6979C26.4271 49.0913 25.1168 48.3789 23.8682 47.5672C23.666 47.4316 23.4387 47.3377 23.1998 47.291C22.9608 47.2442 22.715 47.2455 22.4765 47.2947C21.2967 47.5052 20.0994 47.6021 18.9011 47.5841C18.5834 47.5912 18.2685 47.5233 17.982 47.3858C17.6954 47.2484 17.4454 47.0453 17.2521 46.793C17.0588 46.5407 16.9278 46.2464 16.8697 45.934C16.8115 45.6216 16.8279 45.2998 16.9174 44.9949C17.0025 44.742 16.9908 44.4665 16.8847 44.2216C16.7786 43.9768 16.5855 43.7799 16.3428 43.6691C15.6549 43.3366 15.0676 42.8275 14.6409 42.1937C14.2142 41.5599 13.9634 40.8242 13.9142 40.0618C13.8762 39.9436 13.8136 39.8348 13.7305 39.7425C13.6474 39.6502 13.5457 39.5766 13.4321 39.5264C12.585 39.1592 11.8885 38.514 11.4576 37.6974C11.2865 37.4441 11.0621 37.2313 10.8 37.0741C10.2012 36.7242 9.63509 36.3214 9.10831 35.8705C8.85678 35.655 8.66823 35.3754 8.56262 35.0615C8.45702 34.7475 8.4383 34.4109 8.50845 34.0872C8.5786 33.7635 8.735 33.4648 8.96109 33.2227C9.18718 32.9806 9.47453 32.8042 9.79271 32.7122C10.2943 32.4898 10.8697 32.4332 11.3701 32.2088C11.7359 32.0284 12.0634 31.7791 12.3347 31.4746C12.5471 31.2421 12.6964 30.9589 12.7682 30.6523C12.8687 30.2808 12.8848 29.8916 12.8154 29.5131C12.3892 27.7888 11.836 26.0929 11.478 24.3558C11.3629 23.7718 11.3667 23.1707 11.489 22.5882C11.6114 22.0058 11.8498 21.4539 12.1901 20.9656C12.6358 20.3134 13.2602 19.8036 13.9883 19.4974C14.7164 19.1911 15.5175 19.1013 16.2953 19.2388C16.4366 19.259 16.5806 19.2495 16.718 19.2109C16.8554 19.1723 16.9833 19.1055 17.0934 19.0146C17.3781 18.5286 17.8356 18.1677 18.3746 18.0039C18.9136 17.8401 19.4945 17.8854 20.0016 18.1308C20.1082 18.1494 20.2164 18.1577 20.3246 18.1555C20.3997 17.6937 20.478 17.2321 20.5496 16.7696C20.711 15.3266 21.2238 13.9452 22.043 12.7463C22.386 12.2304 22.864 11.8184 23.4249 11.5552C23.9859 11.2921 24.6082 11.1878 25.2243 11.2539C25.5682 11.2396 25.8974 11.1109 26.1598 10.8881C26.9622 10.2776 27.6805 9.54772 28.5145 8.98828C28.8932 8.64862 29.35 8.40783 29.8442 8.28736C30.3385 8.16688 30.8548 8.17045 31.3474 8.29775C31.8399 8.42505 32.2933 8.67213 32.6673 9.01701C33.0413 9.36188 33.3242 9.79385 33.4909 10.2745C34.0896 11.8417 34.5685 13.452 34.9235 15.0916C34.9979 15.4338 35.0545 15.7796 35.093 16.1276C36.0469 15.6743 36.8974 15.2504 37.7645 14.8634C38.6435 14.471 39.5271 14.0835 40.4296 13.751C40.7045 13.6238 41.0054 13.5625 41.3081 13.5722C41.6109 13.5818 41.9072 13.662 42.1735 13.8064C42.4398 13.9508 42.6686 14.1554 42.8418 14.404C43.0151 14.6525 43.1278 14.938 43.1711 15.2378C43.2537 15.601 43.3447 15.8903 43.7867 15.888C45.8685 15.877 46.7379 17.9064 46.0385 19.8515C45.1646 21.9981 43.9445 23.9869 42.4267 25.7385C42.1523 26.0308 41.9425 26.3775 41.8107 26.7561C41.6789 27.1347 41.6281 27.5368 41.6616 27.9363C42.4 27.7098 43.0603 27.5144 43.7159 27.3045C44.7941 26.9594 45.8568 26.5588 46.9484 26.2649C48.7066 25.7917 49.6404 26.5953 49.5771 28.4054C49.5805 28.7272 49.6922 29.0385 49.8943 29.289C50.1206 29.4846 50.2963 29.7319 50.4066 30.01C50.5168 30.288 50.5583 30.5886 50.5275 30.8861C50.4967 31.1836 50.3946 31.4693 50.2297 31.7189C50.0649 31.9685 49.8422 32.1746 49.5807 32.3197C48.1728 33.3699 46.7586 34.4108 45.3494 35.4585C45.2182 35.5576 45.1031 35.6779 44.9555 35.8104ZM30.3471 43.851C30.7298 44.316 31.1277 44.7333 31.4477 45.2037C31.5674 45.3276 31.6469 45.4847 31.6759 45.6545C31.7049 45.8244 31.682 45.999 31.6102 46.1556C31.5385 46.3122 31.4211 46.4435 31.2736 46.5324C31.126 46.6213 30.955 46.6637 30.783 46.6539C30.4236 46.684 30.062 46.6772 29.7039 46.6336C28.9104 46.5611 28.1188 46.4661 27.1355 46.3596C27.2545 46.4739 27.3801 46.5811 27.5117 46.6806C27.677 46.7793 27.8472 46.8695 28.0217 46.9508C30.6946 48.2385 33.7212 48.5964 36.6207 47.9675C37.7936 47.7091 38.9414 47.3476 40.0507 46.8872C41.0449 46.4742 41.0285 45.9513 40.0883 45.3899C39.6439 45.1008 39.1616 44.8749 38.655 44.7187C36.7248 44.2128 34.7745 43.7838 32.8429 43.2825C32.4149 43.1383 31.9554 43.1151 31.515 43.2154C31.0746 43.3157 30.6705 43.5357 30.3471 43.851ZM14.5042 27.7142L14.7723 27.8125C15.6137 26.6606 16.4579 25.5108 17.2902 24.3524C17.3475 24.2461 17.3626 24.1221 17.3327 24.0052C17.1657 23.2797 16.9987 22.5538 16.794 21.8381C16.7235 21.661 16.5912 21.5156 16.4215 21.4288C16.1025 21.2229 15.7327 21.1093 15.3531 21.1004C14.9735 21.0915 14.5989 21.1878 14.2706 21.3785C13.9423 21.5693 13.6732 21.8471 13.4929 22.1813C13.3126 22.5154 13.2283 22.893 13.2492 23.2721C13.3162 24.8303 13.7459 26.3513 14.5042 27.7142ZM31.6448 16.0819H31.6159C31.6441 15.6731 31.6407 15.2629 31.606 14.8547C31.4161 13.6473 31.2402 12.432 30.9409 11.2496C30.7726 10.5846 30.4044 10.4931 29.8607 10.9277C29.299 11.4152 28.768 11.9369 28.2706 12.4898C27.9402 12.8291 27.9917 13.1599 28.1902 13.5965C28.8156 14.9722 29.4011 16.3695 29.9258 17.7855C30.2753 18.7295 30.2657 18.7935 31.1193 18.2882C31.3793 18.1075 31.5595 17.8334 31.6224 17.523C31.6711 17.0441 31.6786 16.562 31.6448 16.0819ZM26.4562 15.7582L26.1133 15.7435L24.3467 19.5743L24.5382 19.7256C25.3201 19.3848 26.1055 19.0519 26.8793 18.6939C26.9387 18.6591 26.9887 18.6102 27.0247 18.5516C27.0608 18.4929 27.0819 18.4263 27.0862 18.3576C26.8934 17.4876 26.6704 16.6237 26.4562 15.7582ZM17.8122 30.699L16.7666 29.7686C16.5496 30.0548 16.1566 30.3478 16.1671 30.6256C16.1767 30.8817 16.5919 31.2655 16.8809 31.3218C17.1033 31.3644 17.4076 30.9868 17.8122 30.699ZM14.166 35.6369C14.8188 35.5954 15.0535 35.3134 15.089 34.8364C15.132 34.2582 14.6591 34.3835 14.337 34.3301C13.7813 34.2378 13.57 34.6212 13.5995 35.0448C13.6141 35.2544 13.9665 35.4403 14.166 35.6369Z"
				fill="#D43B57"></path>
		</svg>
		<div>
			<span class="mono uppercase date"
				>{new Date(date).toDateString()}</span
			>
			<h2>{title}</h2>
		</div>
		<p>
			{description}
		</p>
	</a>
</article>

<style>
	a.blog-link {
		text-decoration: none;
		color: var(--black);
		position: relative;
		display: block;
	}

	html.dark a.blog-link {
		color: var(--white);
	}

	svg {
		position: absolute;
		left: -3rem;
		top: 1.25rem;
	}
	svg.red {
		display: none;
	}

	html.dark svg.black path {
		fill: var(--dark);
	}

	html.dark svg.red path {
		fill: var(--bright);
	}

	span {
		color: var(--red);
		display: block;
		margin-bottom: 0.25rem;
	}

	html.dark span {
		color: var(--bright);
	}

	h2 {
		font-size: 1.5rem;
	}

	a:hover svg.black {
		display: none;
	}

	a:hover svg.red {
		display: inline;
	}

	a:hover h2 {
		color: var(--red);
	}

	a:hover span {
		color: var(--black);
	}

	html.dark a:hover span {
		color: var(--white);
	}

	html.dark a:hover h2 {
		color: var(--bright);
	}

	span.date {
		font-size: 0.75rem;
	}

	@media (max-width: 767px) {
		span.date {
			font-size: 1rem;
		}
		a svg {
			display: none;
		}
		a:hover svg {
			display: none !important;
		}
	}
</style>
