---
import "../styles/global.css"
import FooterWithSubscribe from '../components/FooterWithSubscribe.astro';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Hot takes on web Tech" />
		<link rel="icon" type="image/svg+xml" href="assets/images/logo.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>Bloycey Blog: {title}</title>
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<link rel="alternate icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,600&family=Space+Mono:wght@700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<nav class="main-nav">
			<a href="/" class="mono">bloycey.blog</a>
		</nav>
		<main>
			<slot />
		</main>
		<FooterWithSubscribe />
		<script is:inline src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
	</body>
</html>

<style>
	main {
		min-height: 50vh
	}
	.main-nav {
		padding: 0.5rem 1.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--red);
	}

	.main-nav a {
		text-decoration: none;
		color: white;
		font-size: 0.75rem;
	}
</style>
