---
import BaseLayout from "./BaseLayout.astro";
import underline from "../images/underline.svg";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
	<article class="blog">
		<div class="magic-grid">
			<h1>{frontmatter.title}</h1>
			<img src={underline} alt="Scribble underline" />
			<span class="blog-date mono">{new Date(frontmatter.date).toDateString()}</span>
		</div>
		<div class="magic-grid">
			<slot/>
		</div>
	</article>
</BaseLayout>

<style>
	.magic-grid {
		display: grid;
		grid-template-columns: 1fr min(980px, calc(100% - 2rem)) 1fr;
		margin: 0 auto;
	}

	.blog-content {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.blog-date {
		margin-top: 3rem;
		margin-bottom: 1rem;
		color: var(--red);
	}
</style>